/*making the marging and padding 0*/
* {
	margin: 0;
	padding: 0;
}
/*Font Ruslan Display*/
.font-ruslan {
	/*color: hsl(0, 0%, 95%);*/
	text-shadow: 3px 5px 20px #333;
	font-family: 'Ruslan Display', cursive;
	text-align: center;
}
/*class with a background color white and a opacity*/
.bg-white-opacity {
	background-color: rgba(255, 255, 255, 0.8);
}
.heading-wrap {
	width: 80%;
	border-radius: 10px;
	margin: 0 10%;
}
/*making the nav bar fixed*/
.navbar {
	position: fixed;
	width: 100vw;
	height: 7vh;
	top: 0;
	z-index: 999;
}
/*making a class to add a box shadow to any image by adding this class*/
.box-shad {
	box-shadow: -10px 10px 30px #000;
}
/*the color class on the navbar in bootstrap and adding a border*/
.bg-light {
	border-bottom: 1px solid #ccc;
	opacity: .97;
}
/*giving the main content some padding so the nav bar doesn't cover it*/
#mainContent{
	padding-top: 7vh; 
}
/*making a white text class with text shadow*/
.white-text a {
	padding-top: 25px;
	color: #fff !important;
	text-shadow: 2px 2px 20px #333;
}
/*Making the text overflow not wrap*/
.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: inherit;
	overflow: hidden;
	padding: 0 20px;
}
#mainContent {
	background-image: url("../img/mountainBackground.jpg");
	background-size: contain;
}
/*adding a background to the body of the page*/
.snowboard-wrap {
	background-image: url("../img/abstractRepeat.jpg");
	background-size: contain;
}
/*adjusting the size of the snowboard images*/
.img-responsive {
	max-height: 200px;
	max-width: 200px;
	object-fit: cover;
	margin: 30px;
}
/*changing the display of the div colums*/
.col-sm-4 {
	display: inline-block;
	min-width: 338px;
	min-height: 486px;
}
/*changing the appearence of the price h5 tag*/
.priceH5 {
	color: #009933;
}
/*adding a border and margin to the div wrapping the snowboard info*/
.boardWrap {
	border: 1px solid #000;
	margin-bottom: 20px;
	width: inherit;
	background-color: #fff;
	opacity: .97;
}
/*adding some margin the button*/
.btn {
	margin: 10px;
}
.btn:hover {
	cursor: pointer;
}
/*styling the heading of the page*/
.galleryHeading {
	/*color: hsl(0, 0%, 95%);*/
	font-size: 10vh;
	text-shadow: 3px 5px 70px #333;
	font-family: 'Ruslan Display', cursive;
	text-align: center;
}
#itemNum {
	display: block;
	background-color: #fff;
	border-radius: 10px;
	width: 30%;
}
.show-more {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	width: 30%;
}
.show-more:hover {
	color: #fff;
	cursor: pointer;
	box-shadow: -2px 2px 15px #000;
	text-shadow: -2px 2px 3px #000;
}
.nav-btn {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	width: 15%;
	margin: 0 20px;
}
.nav-btn:hover {
	color: #fff;
	cursor: pointer;
	box-shadow: -2px 2px 15px #000;
	text-shadow: -2px 2px 3px #000;
}
/*-----------------------------------------------------------
=============Media Queries================================
-----------------------------------------------------------*/
/*Ipad Pro*/
@media (max-width: 1024px) {
	.galleryHeading {
		font-size: 5vh;
	}
	
}
/*Navbar Collapse*/
@media (max-width: 575px) {
	.col-sm-4 {
		min-width: 0;
	}
	.navbar-expand-sm {
		background-color: #f8f9fa!important;
		border-bottom: 1px solid #ccc;
	}
	nav.navbar-expand-sm a {
		padding-top: 0;
		color: #000 !important;
		text-shadow: none;
	}
	#navbarNavAltMarkup {
		border-radius: 10px;
		border: 1px solid #ccc;
		background-color: #fff;
		text-align: center;
		opacity: .99;
	}
	#navbarNavAltMarkup a {
		padding-right: 0 !important;
		padding-top: 10px;
	}
	.w-75 {
		width: 100vw !important;
		border-bottom: 2px solid #000;
		border-top: 2px solid #000;
	}
	.heading-wrap {
	width: 100%;
	margin: 0;
}
} 